<%- include("./partials/header") %>

    <div class="container">
        <h4 class="text-center">League of Legends Champion Stats</h4>

        Current Patch: 9.24

    </div>

    <%- include("./partials/footer") %>