body {
    background: url("https://i.imgur.com/jTaIr6y.png") repeat fixed center;
    background-color: white;
    font-family: 'Quicksand';
}

.form-inline .form-control {
    width: 21vw;
}

a {
    color: #424860;
    text-decoration: none;
}

a:hover {
    color: #6E779F;
    text-decoration: underline;
}

a:active {
    color: #424860;
}

a:visited {
    color: #424860;
}

.navbar {
    background-color: rgba(176, 191, 255, 0.7);
    font-size: 1.2em;
}

.navbar-brand {
    font-size: 1.2em;
}

.container {
    background-color: whitesmoke;
}

.champion-name {
    font-size: 1.1em;
    font-weight: 600;
}

.champion-image {
    border-radius: 55%;
    border: 8px solid white;
    border-style: inset;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.9);
}